* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F5F5F5;
}

body {
    justify-content: center;
}

.flex {
    display: flex;
}

.image {
    width: 100%;
}

header {
    text-align: center;
}

section {
    padding-left: 2em;
    padding-right: 2em;    
}

h2 {
    font-weight: 700;
    font-size: 1.6rem;
    color: #2B283A;
    line-height: 1.2;
    padding-top: 20px
}

h3 {
    color: #F47D27;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1;
    padding-top: 8px;
}

h4 {
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1;
    padding-top: 12px;
}

button {
    padding: 9px 0px 9px 0px;
    align-items: center;
    border: 1px solid #D1D5DB;
    width: 100%;
    justify-content: center;
    gap: 5px;
    background-color: white;
    border-radius: 3px;
    margin-top: 17px;
}

button:hover {
    cursor: pointer;
}

.btn-img {
    height: 1.5em; 
    background-color: white; 
}

.details-header {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 25px;
}

.details-text {
    margin-top: 5px;
    font-size: 0.7rem;
    line-height: 1.5;
}

footer {
    height: 64px;
    background: #D5D4D8;
    margin-top: 31px;
    padding-top: 19px;
    padding-bottom: 19px;
    justify-content: center;
    gap: 24px;
}

a {
    text-decoration: none;
}

@media (min-width: 500px) {
    .app-container {
        width: 500px;
    }
}
